@import "@noot/tailwind-config/styles.css";

html {
    height: 100%;
    width: 100%;
}

[data-overlay-container=true] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*https://www.geeksforgeeks.org/how-to-hide-number-input-spin-box-using-css/*/
/* For Chrome and Safari  */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox  */
input[type="number"] {
    -moz-appearance: textfield;
}