@import "../../tailwind-config/styles.css";

main {
    @apply bg-background text-foreground;
}

.ladle-background {
    @apply bg-background text-foreground !important;
}

#ladle-root {
    height: 100%
}

html {
    height: 100%
}

body {
    height: 100%
}
